::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

 ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

 ::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

.routes-list {
  height: calc(100% - 64px);
  overflow-y: auto;
}

.app {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #242426;

  .main {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
  }
}

.map {
  background-color: #242426 !important;
  width: 100%;
  height: calc(100% - 64px);
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  font-family: 'Roboto' !important;
  font-weight: normal !important;
}

.leaflet-container .leaflet-control-attribution {
  font-family: 'Roboto' !important;
  background-color: rgba(#ffffff, 0.8) !important;
  border-radius: 2px;
  color: rgba(#000000, 0.5) !important;

  a {
    color: rgba(#000000, 0.7) !important;
  }
}

.leaflet-popup-tip,
.leaflet-popup-content-wrapper {
  background-color: #563413 !important;
}

.leaflet-popup-content-wrapper {
  color: #fff !important;
  font-family: 'Roboto' !important;
  border-radius: 2px !important;
}
