doctype html
html
  head
    title Kirov bus
    meta(name='viewport', content='width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no')
  body
    #app
    script(src='/vendor.bundle.js')
    script(src='/app.bundle.js')
