doctype html
html
  head
    title Kirov bus
    meta(charset='utf-8')
    meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
    meta(name="theme-color", content="#ffffff")
  body
    #app
    script(src='/vendor.bundle.js')
    script(src='/app.bundle.js')
